@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-edges {
  mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    ),
    linear-gradient(
      to right,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    );
  -webkit-mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    ),
    linear-gradient(
      to right,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    );
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}
